<div *ngIf="cast.length > 0">

  <h1>{{cast[0].person_name}}</h1>

  <h2>MOVIE CASTED</h2>

  <div class="movies">

    <div class="column item" *ngFor="let cast of cast">

      <div class="movie-rectangle" routerLink="/movie/{{cast.movie_id}}">{{cast.movie_title}}</div>
      <div class="person-char-job">{{cast.character_name}}</div>

    </div>

  </div>

</div>


<div *ngIf="crew.length > 0">

  <h1>{{crew[0].person_name}}</h1>

  <h2>MOVIES AS PART OF THE CREW</h2>

  <div class="movies">

    <div class="column item" *ngFor="let crew of crew">

      <div class="movie-rectangle" routerLink="/movie/{{crew.movie_id}}">{{crew.movie_title}}</div>
      <div class="person-char-job">{{crew.job}}</div>

    </div>

  </div>

</div>


