<div *ngIf="movie">
  <div *ngIf="cast">

    <div class="row">
      <h1>{{movie.title}}</h1>
      <p> {{movie.release_date.substr(0, 4)}}  Directed by {{getDirectorName()}}</p>
    </div>


    <!--    <div class="container">-->
    <div class="row">

      <div class="column">

        <p>{{movie.tagline}}</p>
        <p>{{movie.overview}}</p>

      </div>

      <div class="column">

        <p>{{movie.runtime}} mins</p>
        <p>{{movie.vote_average}}/10 ({{movie.vote_count}}) votes</p>

      </div>

    </div>

    <!--    </div>-->


    <!--  <p>Budget : {{movie.budget}}</p>-->
    <!--  <p>Homepage : {{movie.homepage}}</p>-->
    <!--  <p>Popularity : {{movie.popularity}}</p>-->
    <!--  <p>Revenue : {{movie.revenue}}</p>-->
    <!--  <p>Movie status : {{movie.movie_status}}</p>-->



    <h2>CAST</h2>

    <div class="row-wrap">
      <div routerLink="/person/{{cast.person_id}}"
           class="person-thumbnail" *ngFor="let cast of cast">


        <div class="person-thumbnail-actor">{{cast.person_name}}</div>
        <div class="person-thumbnail-character">{{cast.character_name}}</div>

      </div>
    </div>



    <h2>CREW</h2>
    <div class="row-wrap">

      <div routerLink="/person/{{crew.person_id}}"
           class="person-thumbnail" *ngFor="let crew of crew">

        <div class="person-thumbnail-actor">{{crew.person_name}}</div>
        <div class="person-thumbnail-character">{{crew.job}}</div>

      </div>
    </div>


  </div>
</div>
